@{
    ViewBag.Title = "Новый отчёт";
    var label = "font-weight-bold";
    var row = "row border-bottom";
    var labelColumn = "col-3";
}


<h4>Создание нового отчёта</h4>
<br />
<div class="@row ">
    <div class="@labelColumn">
        <h5 class="@label">Выберите тип</h5>
    </div>
    <div class="col">
        <form asp-controller="Reports" asp-action="AddReport" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#result" method="get">
            <select name="reportType" class="form-select">
                @foreach (var code in Enum.GetValues<ReportCode>())
                {
                    <option value="@code">
                        @code
                    </option>
                }
            </select>
            <button type="submit" class="btn btn-outline-primary">Выбрать</button>
        </form>
    </div>
    <div class="col-1">
        <a asp-controller="Reports" asp-action="Index" title="Вернуться ко всем отчётам" class="btn float-lg-right btn-info">
            Отчёты
        </a>
    </div>
</div>

<div id="result"></div>


@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-unobtrusive-ajax.min.js"></script>
}