<br />
<h4 class="text-success">Новый отчёт удачно создан</h4>

<br />
<div class="">
    <div>
        <a asp-controller="Reports" asp-action="Index" class="btn btn-outline-primary">
            <h6>Вернуться ко всем отчётам</h6>
        </a>
    </div>
</div>